footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  background: linear-gradient(to left, var(--neutral-color), var(--primary-color), var(--neutral-color));
}
