.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register form {
  display: flex;
  flex-direction: column;
}

.register h1 {
  color: var(--secondary-color);
  padding: 10px 0;
}

.register p {
  padding: 2px 0;
}

.register form input, .register form button {
  margin-bottom: 10px;
  padding: 10px 10px;
  width: 300px;

  transition: all ease-in-out 0.3s;
}

.register button {
  margin-top: 10px;
}

.register button:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}
