.single-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.sub-details {
  display: flex;
  margin-top: 50px;
  width: 80%;
}

.sub-details img {
  margin-right: 20px;
}

.sub-details p {
  padding: 1px 0;
  word-wrap:break-word;
}

.single-view  .material-icons  {
  font-size: 0.8rem;
  display: inline-block;
  padding-right: 3px;
}

@media(max-width: 768px) {
  .sub-details {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  width: 300px;
  align-items: center;

}
.sub-details img {
  margin: 0px;
}
}
